[submodule "ExMAS"]
	path = ExMAS
	url = https://github.com/RafalKucharskiPK/ExMAS.git
[submodule "FleetPy"]
	path = FleetPy
	url = https://github.com/TUM-VT/FleetPy.git
[submodule "DemandGenerator"]
	path = DemandGenerator
	url = https://github.com/AUTOlab-TAU/demand_generator.git
